@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Sanchez);
@import url(http://fonts.googleapis.com/css?family=Trocchi);
@import url(http://fonts.googleapis.com/css?family=Cutive+Mono);
@import url(http://fonts.googleapis.com/css?family=Cousine:700);

/** {
	border: 1px dashed red;
}*/

body {
	background: #bdbc9f;
	font-family: Trocchi, Helvetica, sans-serif;
	text-align: center;
	margin: auto;
}

div#main {
	background-color: #c9c9c9; 
	height: 85%;
	width: 800px;
	padding: 5px;
	display: block;
	margin-top: 25px;
	min-width: 650px;
	margin-right: auto;
	margin-left: auto;
	/*border-radius: 15px;*/
	box-shadow: 5px 5px 5px #777;
}

div#main>img {
	margin-top: 25px;
}

fieldset {
	width: 475px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 25px;
	background-color: #e7e263;
	border-radius: 10px;
}

legend {
	text-align: center;
	font-family: Trocchi;
	background-color: white;
	border-radius: 5px;
}

input {
	text-align: center;
}


.title {
	float: left;
	width: 160px;
	text-align: right;
}

div.menuOptions {
	float: right;
	width: 290px;
	text-align: left;
}

.button {
	height: 25px;
	width: 85px;
	background-color: #ffa500;
	border-radius: 10px;
	font-family: Trocchi;
	outline: none;
}

#letsBegin, #resetGame {
	float: left;
	margin-left: 100px;
}

#timer {
	font-family: Cousine;
	color: red;
	font-size: 150%;
	/*border: 2px solid black;
	background-color: white;*/
	width: 50px;
}

.tableContainer {
	display: table;
} 

.tableRow {
	display: table-row;
}

.tableRow>div {
	display: table-cell;
}

.tile {
	display: table-cell;
	margin: 0;
	padding: 0;
	height: 200px;
	width: 200px;
}

#gameConsole {
	width: 300px;
	vertical-align: top;
}

/*#gameBoard {
	width: 450px;
	border: 1px solid black;
}*/
