@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(http://fonts.googleapis.com/css?family=Pacifico);

/** {
	border: 1px dashed red;
}*/

body {
	background: #eb593c;
	font-family: Roboto Condensed, Helvetica, sans-serif;
	text-align: center;
	margin: auto;
}

div#main {
/*	background-color: #d2cccc; */
	height: 85%;
	width: 800px;
	padding: 5px;
	display: block;
	margin-top: 25px;
	min-width: 650px;
	margin-right: auto;
	margin-left: auto;
/*	border-radius: 15px;*/
/* 	box-shadow: 5px 5px 5px #777; */
}

#logo {
	margin-top: 25px;
	height: 125px;
	width: 600px;
}


fieldset {
	width: 475px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 25px;
/*	background-color: #b9cc1d;*/
/*	border-radius: 10px;*/
	border: none;
/*	box-shadow: 5px 5px 5px #777;*/
}

legend {
	text-align: center;
	font-family: Pacifico;
	background-color: white;
	border-radius: 5px;
}

input {
	text-align: center;
}


.title {
	float: left;
	width: 160px;
	text-align: right;
}

div.menuOptions {
	float: right;
	width: 290px;
	text-align: left;
}

#catPic {
	height: 200px;
	width: 300px;
	float: left;
	margin-right: 15px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.button {
	height: 25px;
	width: 85px;
	background-color: #00CCFF;
	border-radius: 10px;
	font-family: Roboto Condensed;
	outline: none;
}

#letsBegin, #resetGame {
/*	float: left;
	margin-left: 100px;*/
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

.tableContainer {
	display: table;
} 

.tableRow {
	display: table-row;
}

.tableRow>div {
	display: table-cell;
}

#tileTemplate {
	height: 200px;
	width: 200px;
}

/* .tile {
	display: table-cell;
	margin: 0;
	padding: 0;
	height: 240px;
	width: 240px;
} */

#gameConsole {
	width: 300px;
	vertical-align: top;
}

#gameBoard2x2, #gameBoard3x3, #gameBoard2x3 {
	display: none;
	width: 480px;
}

#gameBoard2x2 .tile {
	display: table-cell;
	margin: 0;
	padding: 0;
	width: 240px;
	height: 240px;
}


#gameBoard3x3 .tile {
	display: table-cell;
	margin: 0;
	padding: 0;
	width: 160px;
	height: 160px;
}

#gameBoard2x3 {
	margin-top: 30px;
}

#gameBoard2x3 .tile {
	display: table-cell;
	margin: 0;
	padding: 0;
	width: 160px;
	height: 160px;
}

