@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(http://fonts.googleapis.com/css?family=Pacifico);

body {
	background-color: #e7e7ec;
	font-family: Roboto Condensed, Helvetica, sans-serif;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

div#main {
	background-color: white;
	height: 85%;
	width: 75%;
	padding: 5px;
	display: block;
	margin-top: 25px;
	min-width: 650px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 15px;
	box-shadow: 5px 5px 5px #777;
}

div#logo > img {
	display: block;
	margin-top: 25px;
	padding-top: 10px;
	vertical-align: top;
	margin-right: auto;
	margin-left: auto;
}

h1 {
	font-family: Pacifico;
}

h3 {
	text-align: left;
	padding: 0 100px;
	margin-right: auto;
	margin-left: auto;
}

fieldset {
	width: 475px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 25px;
	background-color: #ddfdfc;
	border-radius: 10px;
}

legend {
	text-align: center;
	font-family: Pacifico;
	background-color: white;
	border-radius: 5px;
}

}

div#custom legend:first-child {
	background-color: white;
}

.title {
	float: left;
	width: 160px;
	text-align: right;
}

div.menuOptions {
	float: right;
	width: 290px;
	text-align: left;
}
